NODE_ENV=dev
PORT=3333

# JWT
JWT_SECRET=your-super-secret-jwt-key

# Services
USERS_SERVICE_URL="http://localhost:3001"
PRODUCTS_SERVICE_URL="http://localhost:3002"
CHECKOUT_SERVICE_URL="http://localhost:3003"
PAYMENTS_SERVICE_URL="http://localhost:3004"

# CORS
CORS_ORIGIN="*"

# Throttler
RATE_TTL_SHORT=1_000 # 1 second
RATE_LIMIT_SHORT=10 # 10 requests per minute
RATE_TTL_MEDIUM=60_000 # 1 minute
RATE_LIMIT_MEDIUM=100 # 100 requests per minute
RATE_TTL_LONG=900_000  # 15 minutes
RATE_LIMIT_LONG=1_000 # 1000 requests per minute